# API URLs
NEXT_PUBLIC_AUTH_SERVICE_URL=http://localhost:3001
NEXT_PUBLIC_PRODUCT_SERVICE_URL=http://localhost:3002
NEXT_PUBLIC_ORDER_SERVICE_URL=http://localhost:3003

# MercadoPago
NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY=your-mercadopago-public-key
